/* Color Theme Swatches in Hex
.Site-Mostra-Steam-1-hex { color: #2C3E50; }
.Site-Mostra-Steam-2-hex { color: #7E8A97; }
.Site-Mostra-Steam-3-hex { color: #C49A6C; }
.Site-Mostra-Steam-4-hex { color: #EDE6D1; }
.Site-Mostra-Steam-5-hex { color: #4A5D23; }

 Color Theme Swatches in RGBA 
.Site-Mostra-Steam-1-rgba { color: rgba(44, 62, 80, 1); }
.Site-Mostra-Steam-2-rgba { color: rgba(126, 138, 151, 1); }
.Site-Mostra-Steam-3-rgba { color: rgba(196, 154, 108, 1); }
.Site-Mostra-Steam-4-rgba { color: rgba(237, 230, 209, 1); }
.Site-Mostra-Steam-5-rgba { color: rgba(74, 93, 35, 1); }

 Color Theme Swatches in HSLA 
.Site-Mostra-Steam-1-hsla { color: hsla(210, 29, 24, 1); }
.Site-Mostra-Steam-2-hsla { color: hsla(211, 10, 54, 1); }
.Site-Mostra-Steam-3-hsla { color: hsla(31, 42, 59, 1); }
.Site-Mostra-Steam-4-hsla { color: hsla(45, 43, 87, 1); }
.Site-Mostra-Steam-5-hsla { color: hsla(79, 45, 25, 1); } */

/* geral */
img{
    width: 100%;
    height: auto;
}
body{
    background-color: rgba(44, 62, 80, 1) ;
    margin:0%;
}
.header button{
    background-color: transparent;
    border:none;
    color: rgba(237, 230, 209, 1);
    font-size: clamp(14px, 2vw, 20px);
}
.header button:hover{
    transform: scale(1.2);
}
.header{
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    margin-top: 3%;
    margin-right: 5%;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin-top: 2%;
}
.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 5%;
    background-image: url(imgs/background_img.png);
    background-size: 50% auto;   /* 2 imagens no eixo X = cada uma ocupa 50% */
    background-position: top left; /* começa no topo/esquerda */
}
.conteudo button:hover{
    transform: scale(1.2);
}
.footer{
    color: rgba(237, 230, 209, 1) ; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
    padding-top: 2%;
}
h4{
    margin-bottom: 0.5%;
    margin-top: 0%;
    font-size: clamp(10px, 2vw, 18px);
}
/* pagina inicial */
.img_pre_button{
    width: 80%;
    height: auto;
}
.btn_ot button{
    background-color: rgba(196, 154, 108, 1);
    width: clamp(120px, 20vw, 250px); 
    height: clamp(40px, 4vh, 70px);
    border: none;
    font-size: clamp(14px, 2vw, 20px);
    color: rgba(237, 230, 209, 1);
}
